<div class="loading">
    <img *ngIf="!loaded" src="../../assets/loading.gif" alt="">
</div>
<div *ngIf="loaded" class="list">
    <div *ngFor="let post of visiblePosts" class="list">
        <div  *ngIf="post.visibility === 'inProgress'" class="item_cont">
            <div class="item">
                <div class="left">
                    <div class="image">
                        <img src="{{post.mainIMG}}" alt="">
                    </div>
                    <div class="info_ad">
                        <div class="top_info">
                            <div class="title">{{post.title}}</div>
                            <div class="owner">from <span>{{post.ownerUser.fName}} {{post.ownerUser.lName}}</span></div>
                        </div>
                        <div class="time">
                            Sent on {{post.time.toDate() | date:'dd.MM.yyyy'}}
                            at {{post.time.toDate() | date:'HH:mm'}}
                        </div>
                    </div>
                </div>
                <div class="right">
                    <button class="accept-button" (click)="openContinueModal($event)">Accept</button>
                    <button class="reject-button" (click)="openContinueModal($event)">Reject</button>
                    <div class="modal-background">
                        <div class="continue-button">
                            <p>You won't be able to return this action. Continue?</p>
                            <div>
                                <button (click)="cancelAction($event)">Cancel</button>
                                <button (click)="doAction($event, post.id, post.ownerUser, post.title, 'acceptpost')" >Yes</button>
                            </div>
                        </div>
                    </div>
                    <div class="modal-background-cancel">
                        <div class="continue-button">
                            <p>You won't be able to return this action. Continue?</p>
                            <div>
                                <button (click)="cancelAction($event)">Cancel</button>
                                <button (click)="doAction($event, post.id, post.ownerUser, post.title, 'rejectpost')" >Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="open_reason" (click)="showReason($event)">
                <img src="../../assets/arrow.svg" class="reason_more" alt="">
            </div>
            <div class="item_reason">
                <div class="block">
                    Title:
                    <p>{{post.title}}</p>
                </div>
                <div class="block">
                    Photos
                    <div class="photos">
                        <div>
                            <img class="poster_img" src="{{post.mainIMG}}" alt="" (click)="openImage($event)">
                            <div class="full_image" (click)="closeImage($event)">
                                <img src="{{post.mainIMG}}" alt="">
                            </div>
                        </div>
                        <div *ngFor="let image of post.images">
                            <img class="poster_img" src="{{image}}" alt="" (click)="openImage($event)">
                            <div class="full_image" (click)="closeImage($event)">
                                <img src="{{image}}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="double_block">
                    <div class="block">
                        Category
                        <div class="category_type">
                            <p *ngFor="let category of post.category">{{category}}<span>/</span></p>
                        </div>
                    </div>
                    <div class="block">
                        Location:
                        <p>Kazakhstan, {{post.location}}</p>
                    </div>
                </div>
                <div class="block">
                    Description:
                    <p>{{post.description}}</p>
                </div>
                <div class="double_block">
                    <div class="block">
                        Amount:
                        <p>{{post.amount}}</p>
                    </div>
                    <div class="block">
                        Phone:
                        <p>{{post.phone}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>