<div class="section">
  <header *ngIf="!isAuthorized">
    <div class="head_container">
      <a href="/home" class="logo">
        <img src="../assets/logo.png" alt="">
      </a>
      <div class="authorize_btns">
        <button class="sign_in" (click)="signIn($event)">Sign in</button>
        <button class="sign_up" (click)="signUp($event)">Sign up</button>
      </div>
    </div>
  </header>
  <div class="sign_up_back" (click)="signUp($event)">
    <form #loginForm="ngForm" (ngSubmit)="register(loginForm.value, $event)" class="sign_up_form">
      <div class="error_mess alert">To register, first fill in all the fields !</div>
      <div class="check_correct alert">Confirm the password to complete the registration !</div>
      <div class="email_exist alert">This email is already in use !</div>
      <div class="passw_length alert">The password must be at least 8 characters long !</div>
      <div class="form_top">
        <span>Sign up</span>
        <div class="close_form">
          <img src="../assets/close.svg" alt="">
        </div>
      </div>
      <div class="form_center">
        <div class="form_side">
          <div class="input_block">
            <label>
              <img src="../assets/username.svg" class="user_name" alt="">
              <span>User name</span>
            </label>
            <input name="fName" ngModel type="text" placeholder="Your first name" />
            <input name="lName" ngModel type="text" placeholder="Your last name" />
          </div>
          <div class="input_block">
            <label>
              <img src="../assets/location.svg" alt="">
              <span>Location</span>
            </label>
            <input name="city" ngModel type="text" placeholder="Your location" />
          </div>
        </div>
        <div class="form_side">
          <div class="input_block">
            <label>
              <img src="../assets/email.svg" class="user_man_email" alt="">
              <span>Email</span>
            </label>
            <input name="email" ngModel type="email" class="useremail" placeholder="Your email" />
          </div>
          <div class="input_block">
            <label>
              <img src="../assets/passwordblack.svg" alt="">
              <span>Password</span>
            </label>
            <div class="password_input">
              <input name="password" ngModel type="password" class="userpassword" placeholder="Your password" />
              <div class="pswd_btns">
                <img src="../assets/showpswrd.svg" alt="" class="show_pswrd" (click)="showPasswordUp($event, 'show')">
                <img src="../assets/hidepswd.svg" alt="" class="hide_pswrd" (click)="showPasswordUp($event, 'hide')">
              </div>
            </div>
            <div class="password_input">
              <input name="passwordconfirm" ngModel type="password" class="passwordconfirm" placeholder="Verify your password" />
              <div class="pswd_btns">
                <img src="../assets/showpswrd.svg" alt="" class="show_pswrd" (click)="showPasswordUp($event, 'show')">
                <img src="../assets/hidepswd.svg" alt="" class="hide_pswrd" (click)="showPasswordUp($event, 'hide')">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form_separator"></div>
      <div class="form_bottom">
        <div class="link_sign_in" (click)="signUp($event)">Already have an account? <strong style="color: #F1C16F; font-weight:600">Sign in</strong></div>
        <button type="submit" class="sign_up_button">Sign up</button>
      </div>
    </form>
  </div>
  <div class="sign_in_back" (click)="signIn($event)">
    <form #SignInForm="ngForm" (ngSubmit)="checkData(SignInForm.value, $event)" class="sign_in_form">
      <div class="error_mess">Check your email or password !</div>
      <div class="form_top">
        <div class="close_form_in">
          <img src="../assets/close.svg" alt="">
        </div>
        <span>Sign in</span>
      </div>
      <div class="form_center">
        <div class="input_item">
          <img src="../assets/emailsignin.svg" class="input_first_img"  alt="">
          <input name="email" ngModel type="email" placeholder="Your email" />
        </div>
        <div class="input_item">
          <img src="../assets/password.svg" class="input_first_img" style="margin-top: -1px;" alt="">
          <input name="password" ngModel type="password" placeholder="Your password" />
          <div class="pswd_btns">
            <img src="../assets/showpswrd.svg" alt="" class="show_pswrd" (click)="showPassword($event, 'show')">
            <img src="../assets/hidepswd.svg" alt="" class="hide_pswrd" (click)="showPassword($event, 'hide')">
          </div>
        </div>
      </div>
      <div class="form_separator"></div>
      <div class="form_bottom">
        <button type="submit" class="sign_in_button">Sign in</button>
        <div class="link_sign_up">Don't have an account? <strong style="color: #F1C16F; font-weight:600">Sign up</strong></div>
      </div>
    </form>
  </div>
  <header *ngIf="isAuthorized && !adminLoggined">
    <div class="head_container">
      <a href="/home" class="logo">
        <img src="../assets/logo.png" alt="">
      </a>
      <ul class="nav">
        <li>
          <a href="/donations">
            <div class="nav_img">
              <img src="../assets/donationhover.svg" alt="">
              <img src="../assets/donation.svg" alt="">
            </div>
            <span>Donations</span>
          </a>
        </li>
        <li>
          <a href="/notifications">
            <div class="nav_img">
              <img src="../assets/notificationhover.svg" alt="">
              <img src="../assets/notification.svg" alt="">
            </div>
            <span>Notifications</span>
          </a>
        </li>
        <li>
          <a href="/favorites">
            <div class="nav_img">
              <img src="../assets/navfavoritehover.svg" alt="">
              <img src="../assets/navfavorite.svg" alt="">
            </div>
            <span>Favorites</span>
          </a>
        </li>
      </ul>
      <div class="user_side">
        <a routerLink="/account" class="link_to_profile">
          <img *ngIf="user.avatar" src="{{user.avatar}}" alt="">
          <div *ngIf="!user.avatar" class="no-avatar">
            <img src="../assets/avatar.png" alt="">
          </div>
          <div class="user_names">
            <span>{{user.fName}} </span>
            <span>{{user.lName.substring(0, 1)}}.</span>
          </div>
        </a>
        <div class="baursaks">{{user.baursaks}}</div>
      </div>
    </div>
  </header>
  <header *ngIf="adminLoggined">
    <div class="head_container">
      <div class="logo">
        <img src="../assets/logo.png" alt="">
      </div>
      <div class="admin_side">
        <span>Hello, Admin!</span>
        <button class="account-logout"><img (click)="handleLogout($event)" src="assets/adminlogout.svg"/></button>
        <div class="logout-modal">
          <div class="logout-modal-content">
            <p>Do you want to log out?</p>
            <div>
              <button (click)="cancelLogout($event)">Cancel</button>
              <button class="button-success" (click)="logout($event)">Yes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>