@keyframes showform {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container
{
    width: 1100px;
    margin: 0 auto;
}
header
{
    width: 100%;

    background: #F3F3F3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15);

    margin-bottom: 35px;
}
.head_container
{
    width: 1100px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 0;
}
.logo img
{
    width: 150px;
    margin-top: 5px;
}
.authorize_btns
{
    display: flex;
}
.sign_up, .sign_in
{
    width: 140px;
    height: 45px;

    background: #3A47B9;
    border-radius: 10px;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;

    color: #fff;
}
.sign_in
{
    width: 140px;
    height: 45px;

    background: transparent;
    border: 2px solid #3A47B9;
    
    font-weight: 600;

    color: #3A47B9;
    margin-right: 8px;
}
.nav
{
    display: flex;
    list-style: none;
}
.nav li
{
    display: flex;
    align-items: center;

    margin-right: 25px;
}
.nav li:last-child
{
    margin-right: 0;
}
.nav li a
{
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
.nav li a .nav_img
{
    width: 25px;
    height: 25px;
    
    position: relative;
}
.nav li a img
{
    width: 20px;
    margin-right: 8px;

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.nav li:first-child a img
{
    width: 25px;
    margin-left: -8px;
}
.nav li:nth-child(2) a img
{
    width: 16px;
}
.nav li:nth-child(3) a img
{
    margin-left: -2px;
}
.nav li:nth-child(4) a img
{
    width: 25px;
    margin: -1px 0 0 -6px;
}
.nav li a span
{
    color: #161616;
}
.nav li a:hover span
{
    color: #3A47B9;
}
.nav li a:hover .nav_img img:last-child
{
    opacity: 0;
}
.user_side
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.link_to_profile
{
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 50px;
}
.link_to_profile img
{
    width: 44px;
    height: 44px;

    object-fit: cover;

    border-radius: 50%;
    background: #DEDEDE;

    margin-right: 15px;
}
.link_to_profile .no-avatar
{
    width: 44px;
    height: 44px;

    object-fit: cover;

    border-radius: 50%;
    background: #DEDEDE;

    margin-right: 15px;

    display: flex;
    align-items: center;
}
.no-avatar img
{
    width: 25px;
    height: 25px;

    margin: 0 auto;
}
.link_to_profile .user_names span
{
    color: #000;

    font-size: 18px;
    font-weight: 700;
}
.baursaks
{
    width: 44px;
    height: 44px;

    border-radius: 50%;
    background: #F1C16F;
    box-shadow: 0 0 8px rgba(0, 0, 0, .15);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    font-weight: 600;

    color: #fff;
    cursor: default;
}


.admin_side
{
    display: flex;
    align-items: center;
}
.admin_side span
{
    font-size: 17.5px;
    font-weight: 700;
}
.account-logout
{
    margin-left: 25px;

    width: 38px;
    height: 38px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    background: transparent;

    position: relative;
}
.account-logout img
{
    width: 21px;
    margin-top: 2px;
}
.logout-modal
{
    display: none;
}
.logout-modal div
{
    display: none;
}
.logout-modal-active
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.logout-modal-active div
{
    display: flex;
}
.logout-modal-active .logout-modal-content
{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    padding: 30px;
}
.logout-modal-content button
{
    width: 85px;
    height: 36px;

    background-color: white!important;
    border-radius: 9px !important;

    color: #000;
    border: #000 1px solid!important;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
}
.logout-modal-content .button-success
{
    font-weight: bold;
    color: #3A47B9;
    border: #3A47B9 1px solid!important;
    margin-left: 6px;
}
.logout-modal-active p
{
    font-size: 17px;
    margin: 12px 15px 18px;
}

.user_loading
{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}
.user_loading img
{
    width: 35px;
}


footer
{
    width: 1100px;

    padding-bottom: 20px;
    margin: 90px auto 0;
}
.line
{
    width: 100%;
    border-top: 1px solid #d7d7d7;
    margin-bottom: 20px;
}
.footer_container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot_left p:first-child
{
    font-size: 17px;
    margin-bottom: 2px;
}
.foot_left .slogan
{
    font-size: 15px;
    opacity: .8;
}
.foot_right
{
    display: flex;
    gap: 25px;

    font-size: 15px;
}
.foot_right a
{
    color: #3a3a3a;
}
.foot_right a:hover
{
    color: #2d388d;
}


.chat_link
{
    width: 85px;
    height: 85px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    box-shadow: 0 0 20px rgba(58, 71, 185, 0.5);
    background: #3A47B9;

    position: fixed;
    bottom: 30px;
    right: 30px;

    cursor: pointer;
}
.chat_link.back
{
    background: #F1C16F;
    box-shadow: 0 0 20px rgba(241, 193, 111, 0.6);
}
.chat_link span
{
    font-size: 35px;
    color: #fff;
}


.your_booking
{
    width: 85px;
    height: 85px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    box-shadow: 0 0 20px rgba(255, 51, 51, 0.6);
    background: #ff3333;

    position: fixed;
    bottom: 30px;
    left: 30px;

    cursor: pointer;
}
.your_booking span
{
    font-size: 40px;
    color: #000;
     font-variation-settings:
     'FILL' 1,
     'wght' 400,
     'GRAD' 0,
     'opsz' 48
}