<div *ngIf="!loaded2" class="loading">
    <img *ngIf="!loaded" src="../../assets/loading.gif" alt="">
</div>
<div *ngIf="loaded2" class="leaderboard">
    <div class="leaderboard-title">
        <img src="./assets/cup.png" alt="cup"/>
        <div>
            <p class="leaderboard-main-title">Donors Legends!</p>
            <p class="leaderboard-main-subtitle">Leaderboard of generous donors in BeJomart</p>
        </div>
    </div>
    <div class="leaderboard-list">
        <div *ngFor="let userElement of leaderboard, let i = index" class="user_side_back">
            <div class="user_side" *ngIf="userElement.donatedValue > 0">
                <div class="link_to_profile">
                    <img class="avatar"*ngIf="userElement.avatar" src="{{userElement.avatar}}" alt="">
                    <div *ngIf="!userElement.avatar" class="no-avatar">
                        <img src="../assets/avatar.png" alt="">
                    </div>
                    <img class="star" src="./assets/gold-star.png" *ngIf="i < 3"/>
                    <img class="star" src="./assets/silver-star.png" *ngIf="i >= 3 && i < 6"/>
                    <img class="star" src="./assets/bronze-star.png" *ngIf="i >= 6"/>
                    <div class="user_names">
                        <span>{{userElement.fName}} {{userElement.lName.substring(0, 1)}}.</span>
                    </div>
                </div>
                <div *ngIf="userElement.donatedValue.toString().length == 3" class="baursaks">{{userElement.donatedValue.toString()}}₸</div>
                <div *ngIf="userElement.donatedValue.toString().length == 4" class="baursaks">{{userElement.donatedValue.toString().substring(0, 1)}}K ₸</div>
                <div *ngIf="userElement.donatedValue.toString().length == 5" class="baursaks">{{userElement.donatedValue.toString().substring(0, 2)}}K ₸</div>
                <div *ngIf="userElement.donatedValue.toString().length == 6" class="baursaks">{{userElement.donatedValue.toString().substring(0, 3)}}K ₸</div>
                <div *ngIf="userElement.donatedValue.toString().length == 7" class="baursaks">{{userElement.donatedValue.toString().substring(0, 3)}}M ₸</div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="loaded2" class="container">
    <div class="top">
        <div class="search_input">
            <input type="text" (keyup)="search($event)" placeholder="Search by title">
            <img src="../../assets/search.svg" alt="">
        </div>
        <button class="add_donation" (click)="applyApp($event)">Apply</button>
        <div class="apply_back" (click)="applyApp($event)">
            <form #appForm="ngForm" (ngSubmit)="addData(appForm.value, $event)" class="apply_form">
                <div class="error_mess alert">To upload, first fill in all the fields !</div>
                <div class="apply_top">
                    <span>Apply application</span>
                    <div class="close_apply">
                        <img src="../../assets/close.svg" alt="">
                    </div>
                </div>
                <div class="apply_center">
                    <div class="center_block">
                        <div class="input_block">
                            <label>Title</label>
                            <input name="title" ngModel type="text" placeholder="Enter title">
                        </div>
                        <div class="input_block">
                            <label>Uploading</label>
                            <div class="file">
                                <input (change)="uploadImg($event)" type="file" accept="image/*" class="input input_file" id="input_file" />
                                <label for="input_file">
                                    <p>Upload image</p>
                                    <img src="../../assets/don_add_file.svg" alt="">
                                </label>
                            </div>
                            <div class="baska">
                                <input (change)="uploadDoc($event)" multiple type="file" accept="application/pdf, image/*, .doc,.docx, .pdf" class="input baska_file" id="baska_file" />
                                <label for="baska_file">
                                    <p>Upload file</p>
                                    <img src="../../assets/don_add_file.svg" alt="">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="input_block">
                        <label>Your reason</label>
                        <textarea name="reason" ngModel placeholder="Write down why we should accept your application"></textarea>
                    </div>
                </div>
                <div class="apply_bottom">
                    <label>Requisites</label>
                    <div class="block">
                        <input class="input_requisites" (keyup)="cardTyping($event)" type="tel" placeholder="#### #### #### ####" />
                        <input name="name" ngModel type="text" placeholder="Enter name" />
                        <input name="surname" ngModel type="text" placeholder="Enter surname" />
                    </div>
                    <div class="block">
                        <input name="phone" ngModel type="tel" placeholder="Your phone" class="your_phone" />
                        <p class="donation-amount">
                            <input name="amount" ngModel type="number" placeholder="Amount needed" class="amount_money" />
                            <span>₸</span>
                        </p>
                        <button type="submit">Apply application</button>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress_bar"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="loading">
        <img *ngIf="!loaded" src="../../assets/loading.gif" alt="">
    </div>
    <div *ngIf="loaded" class="list">
        <div *ngFor="let don of donations"  class="item_cont">
            <div class="full_image" (click)="closeImage($event)">
                <img src="{{don.file}}" alt="">
            </div>
            <div class="item">
                <div class="left">
                    <div class="image" (click)="openImage($event)">
                        <img src="{{don.file}}" alt="">
                    </div>
                    <div class="info_ad">
                        <div class="top_info">
                            <div class="title">{{don.title}}</div>
                        </div>
                        <div class="location">Kazakhstan, Almaty</div>
                    </div>
                </div>
                <div class="right" (click)="openHelp($event)">
                    <div class="right-side-content">
                        <div class="percentage-content">
                            <p>{{don.donatedFunds}}₸ / {{don.amount}}₸</p>
                            <div class="percentage-line">
                                <div class="percentage" [ngStyle]="{'width' : (don.donatedFunds * 100 /don.amount) + '%'}"></div>
                            </div>
                            <p class="percentage-text">{{(don.donatedFunds * 100 /don.amount).toString().slice(0, 2)}}%</p>
                        </div>
                        <div class="right-bottom-content">
                            <p class="timer">{{getDiff(don.expiredDate, don.id)}} days left</p>
                            <button class="help">Help</button>
                        </div>
                    </div>
                    <div class="help_back">
                        <p class="help_title">{{don.title}}</p>
                        <div class="help_card">
                            <img src="../../assets/card_back.png" alt="">
                            <div class="help_owner">BeJomart</div>
                            <div class="needs_requisites">
                                <p *ngFor="let req of don.requisites">{{req}}</p>
                            </div>
                            <div class="needs_contacts">
                                <div class="contact">
                                    <p>Recipient</p>
                                    {{don.name.toUpperCase()}} {{don.surname.toUpperCase()}}
                                </div>
                                <div class="contact">
                                    <p>Phone number</p>
                                    {{don.phone}}
                                </div>
                            </div>
                        </div>
                        <div class="pay_by_google">
                            <input type="text" (keyup)="setDonateValue($event)" placeholder="Minimum 100₸">
                            <app-pay-button *ngIf="!accepted" [credit]="{price: '', donationID: '', postID: '', takerID: '', type: ''}"></app-pay-button>
                            <app-pay-button *ngIf="accepted" [credit]="{price: donateFunds, donationID: don.id, postID: '', takerID: this.user.uniqID, type: 'justDonation'}"></app-pay-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="open_reason" (click)="showReason($event)">
                <img src="../../assets/arrow.svg" class="reason_more" alt="">
            </div>
            <div class="item_reason">
                <span>Help {{don.name.toUpperCase()}} for this reason:</span>
                <p>{{don.reason}}</p>
                <span class="bottom-text">Needed amount of money:</span>
                <p>{{don.amount}}₸</p>
            </div>
        </div>
    </div>
</div>