.donation_container
{
    display: flex;
}


.leaderboard
{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto 30px;
    width: 950px;

    background: url("/assets/donchik.jpg") center no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 20px;

    padding: 30px !important;
    position: relative;
}
.leaderboard::after
{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;

    width: 100%;
    height: 100%;

    background: linear-gradient(to left top, rgba(241, 193, 111, .9), rgba(58, 71, 185, 1));
    border-radius: 18px;

    display: block;
    content: "";
}
.leaderboard-title
{
    display: flex;
    align-items: center;

    position: relative;
    z-index: 2;
}
.leaderboard-title img
{
    width: 70px;
    margin-right: 15px;
}
.leaderboard-main-title
{
    font-size: 23px;
    font-weight: 600;

    margin-bottom: 4px;
    margin-top: 3px;
}
.leaderboard-main-subtitle
{
    font-size: 17px;
}
.leaderboard-list
{
    width: 870px;

    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: space-between;

    margin-top: 20px;
    z-index: 2;
}
.user_side
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 250px;

    border-left: 0;
    border-radius: 25px;

    margin-top: 15px;

    background: rgba(255, 255, 255, 0.09);
}
.leaderboard-list .user_side_back:first-child
{
    grid-column-start: 1;
    grid-row-start: 1;
}
.leaderboard-list .user_side_back:nth-child(2)
{
    grid-column-start: 1;
    grid-row-start: 2;
}
.leaderboard-list .user_side_back:nth-child(3)
{
    grid-column-start: 1;
    grid-row-start: 3;
}
.leaderboard-list .user_side_back:nth-child(5)
{
    grid-column-start: 2;
    grid-row-start: 2;
}
.leaderboard-list .user_side_back:nth-child(6)
{
    grid-column-start: 2;
    grid-row-start: 3;
}
.link_to_profile
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link_to_profile .avatar
{
    width: 44px;
    height: 44px;

    object-fit: cover;

    border-radius: 50%;
    background: #DEDEDE;

    margin-right: 15px;
}
.link_to_profile .no-avatar
{
    width: 44px;
    height: 44px;

    object-fit: cover;

    border-radius: 50%;
    background: #DEDEDE;

    margin-right: 15px;

    display: flex;
    align-items: center;
}
.no-avatar img
{
    width: 25px;
    height: 25px;

    margin: 0 auto;
}
.link_to_profile .user_names span
{
    color: #000;

    font-size: 17px;
    font-weight: 600;

    position: relative;
    left: -20px;
}
.baursaks
{
    font-size: 18px;
    font-weight: 600;

    color: #fff;
    cursor: default;

    margin-right: 15px;
}
.star
{
    position: relative;
    width: 25px;
    left: -30px;
    top: 5px;
}


.container
{
    width: 950px;
    margin: 0 auto;
}
.top
{
    display: flex;
    justify-content: space-between;
}
.search_input
{
    position: relative;
}
.search_input input
{
    width: 710px;
    height: 50px;

    padding: 0 25px;

    background: #fff;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;

    color: #000;
}
.search_input img
{
    width: 19px;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    margin-right: 23px;
    cursor: pointer;
}
.add_donation
{
    position: relative;
    z-index: 10;

    width: 228px;
    height: 50px;

    background: #3A47B9;
    border-radius: 10px;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;

    color: #fff;
}


.loading
{
    display: flex;
    justify-content: center;
}
.loading img
{
    width: 40px;
    margin-top: 35px;
}
.list
{
    margin-top: 20px;
}
.item_cont
{
    background: #fff;
    border: 1px solid #E2E2E2;
    border-radius: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .25);
    padding: 20px 30px 20px 20px;

    margin-bottom: 18px;
}
.item
{
    height: 120px;

    display: flex;
    justify-content: space-between;
}
.left
{
    display: flex;
    color: #000;
    width: 60%;
}
.image
{
    height: 100%;
    width: 160px !important;
    object-fit: cover;

    background: #E2E2E2;
    border-radius: 10px;

    margin-right: 20px;
    cursor: pointer;
}
.image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 10px;
}
.info_ad
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 320px;
    padding: 7px 0;
}
.top_info div:first-child
{
    font-size: 20px;
    font-weight: 600;

    margin-bottom: 10px;
}
.location
{
    color: #6B6B6B !important;
    font-size: 17px;
}
.right
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: end;*/

    padding-bottom: 7px;
    width: 35%;

    max-width: 275px;
}
.help
{
    width: 150px;
    height: 42px;

    background: #F1C16F;
    border-radius: 10px;

    /*margin-top: -20.5px;*/

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.timer
{
    font-size: 16.5px;
    margin-bottom: -12px;
    /*text-decoration: underline;*/
}
.open_reason
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 27px;
    height: 27px;

    background: #fff;
    border: 1px solid #E2E2E2;
    box-shadow: 0 0 1px rgba(0, 0, 0, .25);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 2px;
    cursor: pointer;
}
.open_reason::after
{
    content: "";

    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    display: block;
}
.open_reason img
{
    width: 13px;
    margin-top: 3.5px;
    transition: .2s;
}
.item_reason
{
    margin-top: 20px;
    padding-top: 12px;
    border-top: 1px solid #E2E2E2;
    display: none;
}
.item_reason span
{
    font-size: 18px;
    font-weight: 600;

    display: block;
    margin-bottom: 6px;
}
.item_reason p
{
    font-size: 15.5px;
    font-weight: 400;
}
.item_cont.open .item_reason
{
    display: block;
}
.item_cont.open .open_reason .reason_more
{
    transform: rotate(180deg);
    margin-top: 0;
}

.apply_back
{
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .15);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;

    transition: .3s;
}
.top.open .apply_back
{
    visibility: visible;
    opacity: 1;
}
.apply_form
{
    padding: 50px 35px;

    background: #fff;
    border-radius: 25px;

    position: relative;
    transition: .2s;
}
.apply_top
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;
}
.apply_top span
{
    margin-top: -8px;

    font-size: 30px;
    font-weight: 700;
}
.apply_top .close_apply img
{
    width: 18px;
    cursor: pointer;
}
.apply_center
{
    display: flex;
}
.center_block
{
    margin-right: 45px;
}
.input_block
{
    display: flex;
    flex-direction: column;

    margin-bottom: 18px;
}
.input_block label
{
    display: flex;
    align-items: end;

    font-size: 18px;
    font-weight: 600;

    color: #2D2D2D;

    margin-bottom: 12px;
}
.input_block input
{
    width: 280px;
    height: 50px;

    padding: 0 20px;

    background: #fff;
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.input_block textarea
{
    width: 420px;
    height: 100%;

    padding: 20px;

    background: #fff;
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.choose_block
{
    position: relative;
    margin-bottom: 10px;
}
.choose_block input
{
    cursor: pointer;
}
.choose_block .selected
{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);

    width: 15px;
    margin-right: 18px;
    margin-top: .5px;

    cursor: pointer;
    transition: .2s;
}
.select_city
{
    list-style: none;

    position: absolute;
    top: 100%;
    z-index: 1;

    width: 99.6%;
    height: 0;
    overflow-y: auto;

    padding-block-start: 0px;

    background: #fff;
    border: 1px solid #E2E2E2;
    border-top: none;
    border-radius: 0 0 8px 8px;

    display: none;
    padding: 10px 0;
}
.select_city::-webkit-scrollbar
{
    display: none;
}
.choose_block.open .select_city
{
    display: block;
    height: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}
.choose_block.open .selected
{
    margin-top: -3px;
    transform: rotate(0);
}
.choose_block.open input
{
    border-radius: 8px 8px 0 0;
}
.select_city li
{
    height: 35px;

    padding: 0 20px;

    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 500;

    cursor: pointer;
}
.file, .baska
{
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
}
.file input, .baska input
{
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
.file label, .baska label
{
    width: 280px;
    height: 50px !important;

    padding: 0 20px;

    background: #fff;
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);

    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;

    font-size: 15px;
    font-weight: 400;
    color: #6B6B6B;

    margin: 0;
}
.file label p, .baska label p
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.file label img, .baska label img
{
    width: 24px;
    margin-right: -2px;
}
.apply_bottom
{
    margin-top: 20px;
}
.apply_bottom label
{
    display: block;

    font-size: 18px;
    font-weight: 600;

    color: #2D2D2D;

    margin-bottom: 12px;
}
.block
{
    display: flex;
    align-items: center;
}
.apply_bottom .block:nth-child(3)
{
    margin-top: 12px;
}
.block input
{
    width: 290px;
    height: 50px;

    padding: 0 20px;

    background: #fff;
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

    margin-left: 15px;
    box-sizing: border-box;

    text-transform: uppercase;
}
::-webkit-input-placeholder { /* WebKit browsers */
    text-transform: none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    text-transform: none;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    text-transform: none;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    text-transform: none;
}
::placeholder { /* Recent browsers */
    text-transform: none;
}
.block input:nth-child(1)
{
    width: auto;
    margin-left: 0;
}
.apply_bottom .block:nth-child(3) .your_phone
{
    width: 230px;
    margin-right: 15px;
}
.block button
{
    width: calc(100% - 315px);
    height: 50px;

    background: #3A47B9;
    border-radius: 8px;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;

    color: #fff;
}
.progress
{
    width: 100%;
    height: 50px;

    background: #e1e1e1;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);

    border-radius: 23px;

    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: -1;
    transform: translateX(-50%);

    margin-bottom: -5px;
}
.progress_bar
{
    width: 0;
    height: 100%;

    background: #3A47B9;
    border-radius: 23px;
}
.alert
{
    padding: 14px 18px;

    font-size: 14px;
    font-weight: 500;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;

    background: #ff4646;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    border: 1px solid #e81f1f;

    color: rgba(255, 255, 255, 0.95);

    visibility: hidden;
    opacity: 0;
    transition: .3s;
}
.apply_form.occured .error_mess
{
    visibility: visible;
    opacity: 1;
    margin-top: 55px;

    transition: .15s;
}


.help_back
{
    width: 100%;
    height: 100%;

    background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .2));

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;

    transition: .2s;
}
.right.open .help_back
{
    visibility: visible;
    opacity: 1;
}
.help_title
{
    font-size: 25px;
    font-weight: 600;

    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);

    color: #FFF;

    text-align: center;
}
.help_card
{
    width: 520px;
    height: 295px;

    transform: translateY(100%) scale(0.2);
    transition: .2s;

    background: #b59a69;
    box-shadow: 0 0 5px #8b7346;
    box-sizing: border-box;
    border-radius: 20px;

    position: relative;
    overflow: hidden;

    padding: 36px 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: default;
}
.right.open .help_card
{
    transform: scale(1);
}
.pay_by_google
{
    width: 455px;
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pay_by_google input
{
    width: 200px;
    height: 40px;

    margin-bottom: 4px;
    padding: 0 20px;

    background: #fff;
    border: 1px solid #E2E2E2;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .15);

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

    box-sizing: border-box;
}
app-pay-button
{
    position: relative;

    transform: translateY(100%) scale(0.2);
    transition: .2s;
}
.right.open app-pay-button
{
    transform: scale(1);
}
.help_card img
{
    position: absolute;
    right: 0;
    margin: -36px -40px 0 0;
    z-index: 0;
}
.help_owner
{
    color: #ededed;

    font-size: 28px;
    font-weight: 550;
}
.needs_requisites
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: -60px;
}
.needs_requisites p
{
    font-size: 37px;
    font-weight: 700;

    color: #e9cd98;
    text-shadow: 0 1px 4px rgba(0, 0, 0, .25);
}
.needs_contacts
{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 20px;
    font-weight: 600;

    color: #f2d7a5;
    text-shadow: 0 1px 4px rgba(0, 0, 0, .3);
}
.needs_contacts p
{
    font-size: 14px;
    color: #ededed;

    margin-bottom: 2px;
}

.amount_money
{
    width: 60px;
    margin-right: 20px;
    position: relative;
    top: 10px;
}
.donation-amount span {
    position: relative;
    top: -25px;
    left: 80%;
}
.right-side-content, .percentage-content
{
    display: flex;
    flex-direction: column;
}
.right-side-content, .percentage-line
{
    margin: 10px 0;
}
.percentage-line
{
    width: 100%;
    background: #EAE9E9;
    border-radius: 8px;
    height: 10px;
    display: flex;
    align-items: center;
}
.percentage-text
{
    display: none;
    color: #2c2c2c;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    top: -8px;
    left: 2px;
    height: 0;
}
.percentage-content:hover .percentage-text
{
    display: flex;
}
.percentage
{
    width: 70px;
    background: #F1C16F;
    border-radius: 12px;
    height: 10px;
}
.right-bottom-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 17px;
}
.bottom-text
{
    margin-top: 15px;
    display: block;
}

.full_image
{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;

    background: rgba(0, 0, 0, .25);

    width: 100%;
    height: 100vh;

    display: none;
    justify-content: center;
    align-items: center;
}
.full_image.show
{
    display: flex;
}
.full_image img
{
    max-width: 950px;
    max-height: 650px;
    object-fit: cover;
}