.ad
{
    width: 100%;
    display: flex;

    margin-top: 40px;
}
.catalog
{
    width: 300px;
    height: fit-content;

    background: #fff;
    border: 1px solid #E2E2E2;
    border-radius: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .25);

    margin-right: 25px;
    padding: 25px 0;
}
.catalog span
{
    width: 100%;
    padding-left: 23px;

    font-size: 22.5px;
    font-weight: 600;

    display: block;
    margin-bottom: 10px;
}
.catalog_item
{
    list-style: none;

    width: 100%;

    padding-block-start: 0px;
}
.catalog_item li
{
    height: 35px;
    position: relative;
}
.catalog_top
{
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 23px;
    cursor: pointer;
}
.catalog_top p
{
    font-size: 17px;
}
.catalog_top::after
{
    content: "";

    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}
.sub_selector
{
    width: 15px;
    margin-top: .5px;

    cursor: pointer;
    transition: .2s;

    display: none;
}
.sub_selector.have
{
    display: block;
}
.catalog_item li ul
{
    width: 85%;
    list-style: none;

    position: absolute;
    top: -10.5px;
    right: -85.8%;
    z-index: 2;

    background: #fff;
    border: 1px solid #E2E2E2;
    border-radius: 0 8px 8px 0;

    display: none;
    padding: 10px 0;
}
.catalog_item li:hover .sub_selector
{
    transform: rotate(-90deg);
}
.catalog_item li:hover .sub_catalog
{
    display: block;
}
.catalog_item li ul li
{
    height: 35px;
    position: relative;
}
.catalog_item li ul li .sub_selector
{
    transform: rotate(360deg);
}
.catalog_item li ul li ul
{
    width: 95%;
    list-style: none;

    position: absolute;
    top: -10.9px;
    right: -95.6%;
    z-index: 3;

    background: #fff;
    border: 1px solid #E2E2E2;
    border-radius: 0 8px 8px 0;

    display: none;
    padding: 10px 0;
}
.catalog_item li ul:hover
{
    border-radius: 0;
}
.catalog_item li ul li:hover .sub_selector
{
    transform: rotate(270deg);
}
.catalog_item li ul li:hover .sub_sub_catalog
{
    display: block;
}
.favorites_back
{
    width: calc(100% - 320px);
}
.search_input
{
    width: 100%;
    position: relative;
}
.search_input input
{
    width: 100%;
    height: 50px;

    padding: 0 25px;

    background: #fff;
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    border-radius: 10px;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;

    color: #000;
}
.search_input img
{
    width: 19px;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    margin-right: 23px;
    cursor: pointer;
}
.add_ad
{
    width: 180px;
    height: 50px;

    background: #3A47B9;
    border-radius: 10px;

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;

    color: #fff;
}
.sort
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 16px 0;
}
.sort::before
{
    content: "";

    display: block;
    width: 638px;

    border-bottom: 1px solid #A1A1A1;
}
.sorting_btn
{
    font-size: 14px;
    color: #3A3A3A;
}
.sort_type
{
    border: none;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.loading
{
    display: flex;
    justify-content: center;
}
.loading img
{
    width: 40px;
    margin-top: 35px;
    background: transparent;
}
.item
{
    height: 160px;

    background: #fff;
    border: 1px solid #E2E2E2;
    border-radius: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .25);

    padding: 20px 45px 20px 20px;
    margin-bottom: 12px;

    display: flex;
    justify-content: space-between;
}
.left
{
    display: flex;
    color: #000;
}
.image
{
    height: 100%;
    width: 160px;

    background: #E2E2E2;
    border-radius: 10px;

    margin-right: 20px;
}
.image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 10px;
}
.info_ad
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 7px 0;
}
.top_info div:first-child
{
    font-size: 22px;
    font-weight: 600;

    margin-bottom: 10px;
}
.top_info .category_type
{
    font-size: 18px;
    color: #3A3A3A;
    display: flex;
}
.category_type p span
{
    margin: 0 5px;
}
.category_type p:last-child span
{
    margin: 0;
    color: transparent;
}
.location
{
    color: #6B6B6B;
}
.right
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.count
{
    width: 90px;
    height: 40px;

    background: #F1C16F;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    margin-top: -20.5px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    font-weight: 600;
}
.add_to_fav
{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 23px;
    height: 23px;

    margin-bottom: 6px;
}
.add_to_fav img
{
    width: 23px;

    position: absolute;
    cursor: pointer;
}
.add_to_fav img:last-child
{
    width: 22px;
    display: none;
}
.item.chosen .fav_1
{
    display: none;
}
.item.chosen .fav_2
{
    display: block;
}