<app-carousel [images]="sliderImages" [autoSlide]="true" [slideInterval]="4000" class="app-carousel"></app-carousel>
<div class="ad">
    <div class="catalog">
        <span>Catalog</span>
        <ul class="catalog_item">
            <li on-click="selectCategory($event, category)" *ngFor="let category of categories">
                <div class="catalog_top main" (click)="filterByCategory($event)">
                    <p>{{category.name}}</p>
                    <img class ="sub_selector" [ngClass]="category.subCategories && category.subCategories.length > 0 ? 'sub_selector have' : 'sub_selector'" src="../../assets/arrow.svg"/>
                </div>
                <ul *ngIf="category.subCategories && category.subCategories.length > 0" class="sub_catalog">
                    <li on-click="selectCategory($event, subCategory)" *ngFor="let subCategory of category.subCategories">
                        <div class="catalog_top middle" (click)="filterByCategory($event)">
                            <p>{{subCategory.name}}</p>
                            <img class="sub_selector" [ngClass]="subCategory.subCategories && subCategory.subCategories.length > 0 ? 'sub_selector have' : 'sub_selector'" src="../../assets/arrow.svg"/>
                        </div>
                        <ul *ngIf="subCategory.subCategories && subCategory.subCategories.length > 0" class="sub_sub_catalog">
                            <li on-click="selectCategory($event, subCategorySub)" *ngFor="let subCategorySub of subCategory.subCategories">
                                <div class="catalog_top child" (click)="filterByCategory($event)">
                                    <p>{{subCategorySub.name}}</p>
                                    <img class="sub_selector" src="../../assets/arrow.svg"/>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="main">
        <div class="filters">
            <div class="searching">
                <div class="city">
                    <div class="selector">
                        <span class="chosen_city">All</span>
                        <img src="../../assets/arrow.svg" alt="">
                    </div>

                    <ul class="options" on-click="changeLocation($event)">
                        <li>All</li>
                        <li>Astana</li>
                        <li>Aktobe</li>
                        <li>Almaty</li>
                        <li>Atyrau</li>
                        <li>Aktau</li>
                        <li>Semey</li>
                        <li>Taraz</li>
                        <li>Karaganda</li>
                        <li>Kostanay</li>
                        <li>Kokshetau</li>
                        <li>Kyzylorda</li>
                        <li>Mangystau</li>
                        <li>Pavlodar</li>
                        <li>Uralsk</li>
                        <li>Ust-Kamenogorsk</li>
                        <li>Shymkent</li>
                        <li>Turkestan</li>
                    </ul>
                </div>
                <div class="search_input">
                    <input type="text" (keyup)="search($event)" placeholder="Search by title">
                    <img src="../../assets/search.svg" alt="">
                </div>
            </div>
            <button class="add_ad" routerLink="add-post" (click)="handleAddPost()">Add post</button>
<!--            <button class="add_ad" (click)="handleAddPost()">Add post</button>-->
            <router-outlet></router-outlet>
<!--            <app-add-post (getData)="getData()" [user]="user" (handleAddPost)="handleAddPost()" [isActive]="isActive"></app-add-post>-->
        </div>
        <div class="sort">
            <div class="sorting_btn">
                Sort by:
                <select class="sort_type">
                    <option>Top</option>
                    <option>Recent</option>
                </select>
            </div>
        </div>
        <div class="loading">
            <img *ngIf="!loaded" src="../../assets/loading.gif" alt="">
        </div>
        <div *ngIf="loaded" class="list">
            <div class="item_back" *ngFor="let ad of ads">
                <div [ngClass]="isFavorite(ad.id) ? 'item chosen' : 'item'" *ngIf="ad.visibility ==='active'" class="item">
                    <a href="/postdetails/{{ad.id}}}" class="left">
                        <div class="image">
                            <img src="{{ad.mainIMG}}" alt="">
                        </div>
                        <div class="info_ad">
                            <div class="top_info">
                                <div class="title">{{ad.title}}</div>
                                <div class="category_type">
                                    <p *ngFor="let category of ad.category">{{category}}<span>/</span></p>
                                </div>
                            </div>
                            <div class="location">Kazakhstan, {{ad.location}}</div>
                        </div>
                    </a>
                    <div class="right">
                        <div class="count">{{ad.amount}}</div>
                        <div *ngIf="ad.ownerId != this.user.userID" class="add_to_fav">
                            <img src="../../assets/favorite.svg" class="fav_1" on-click="forFavorite($event, ad)" alt="">
                            <img src="../../assets/favirte_choosed.svg" class="fav_2" on-click="forFavorite($event, ad)" alt="">
                        </div>
                        <p *ngIf="ad.ownerId == this.user.userID" class="your_post">Your post</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>