<div class="notification" *ngFor="let notify of notifications">
    <div class="notification-left-side">
        <img *ngIf="notify.sender == 'Admin'" class="notification-account-image" alt="account image" src="assets/admin.png" />
        <div class="notification-text">
            <p class="notification-account-name">{{notify.sender}}</p>
            <p class="not_mess">{{notify.message}}</p>
        </div>
    </div>
    <div class="notification-right-side">
        <p>
            Sent on {{notify.time.toDate() | date:'dd.MM.yyyy'}}
            at {{notify.time.toDate() | date:'HH:mm'}}
        </p>
    </div>
</div>
